{% extends "layout.html" %}

{% block title %}
<link rel="stylesheet" href="{{url_for('static', filename='css/About.css')}}" media="screen">
<link rel="shortcut icon" href="./../static/icon/icon.svg" />
<title>Modelamiento y Simulacion &#10036;</title>
{% endblock %}

{% block content %}
    <section class="u-clearfix u-image u-section-1" id="carousel_1bf9" data-image-width="1980" data-image-height="1193">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-23-xl u-size-26-lg u-size-26-md u-size-26-sm u-size-26-xs u-layout-cell-1">
                            <div class="u-container-layout u-valign-top-xs u-container-layout-1">

                                <h5 class="u-custom-font u-font-pt-sans u-text u-text-grey-5 u-text-1">
                                    &nbsp;MODELAMIENTO Y&nbsp; &nbsp;
                                    &nbsp; &nbsp;SIMULACIÓN
                                </h5>
                                <h1 class="u-custom-font u-font-raleway u-text u-text-grey-5 u-text-2">
                                    &nbsp;<span style="font-size: 2.25rem;">Bienvenidos</span>
                                    <span style="font-size: 2.25rem;">
                                        al<br>&nbsp;sis​tema&nbsp;&nbsp;
                                    </span>
                                    <br>
                                </h1>
                                <p class="u-text u-text-grey-5 u-text-3">
                                    El uso de&nbsp;<b>Modelado y Simulación</b>&nbsp;Computacional
                                    permite estudiar la naturaleza o los sistemas de las ingenierías apoyados en tecnologías de la
                                    información y las comunicaciones
                                </p>
                                <a href="/metodos"
                                   class="u-active-palette-2-light-1 u-border-none u-btn u-btn-rectangle u-button-style u-custom-font u-font-pt-sans u-hover-palette-2-light-1 u-palette-5-dark-3 u-radius-0 u-text-active-white u-text-hover-white u-text-palette-5-light-2 u-btn-1">
                                    read
                                    more
                                </a>
                            </div>
                        </div>
                        <div

            <div class="u-container-layout u-container-layout-2"></div>
          </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




{% endblock %}